@import url(fonts/CaviarDreams/stylesheet.css);
@import url(fonts/uppereastside/stylesheet.css);
@import url(icons/foundation-icons.css);
body{
background-color: white;
color: #00e6ac;
font-family: 'caviar_dreamsregular';
padding-left:20px;
padding-right:20px;
font-size: 18px;
}
.body2{
background-color: white;
color: black;
font-family: 'caviar_dreamsregular';
padding-left:20px;
padding-right:20px;
font-size: 18px;
}
h1{
  font-family:'uppereastsideregular';
  font-size: 70px;
  display:inline-block;
  margin-bottom: 0px;
  margin-top: 10px;
  color: black;
}
h2{
  font-family:'uppereastsideregular';
  font-size: 50px;
  display:inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
}
h3{
  font-family:'uppereastsideregular';
  font-size: 25px;
  display:inline;
}
h4{
  font-family:'uppereastsideregular';
  font-size: 70px;
  display:inline-block;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #00e6ac;
}
.navbar{
  margin-bottom: 0px;
  margin-top: 10px;
  display: block;
  background-color: black;
  display: block;
}
.navbar2{
  margin-bottom: 0;
  display: block;
}
.seniornavbar{
  margin-bottom: 0px;
  margin-top: 10px;
  display: block;
  background-color: #00e6ac;
  display: block;
}
.navbarbuttons {
  background-color: transparent;
    border: none;
    color: white;
    font-family: 'caviar_dreamsregular';
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.navbarbuttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.seniornavbarbuttons {
  background-color: transparent;
    border: none;
    color: black;
    font-family: 'caviar_dreamsregular';
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.seniornavbarbuttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.icon{
  font-family: "foundation-icons";
}
.navbarbuttons span:after {
  content:'\f214';
  color: #00e6ac;
  font-size: 20px;
  font-family: "foundation-icons";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.seniornavbarbuttons span:after {
  content:'\f214';
  color: white;
  font-size: 20px;
  font-family: "foundation-icons";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.navbarbuttons:hover span {
  padding-right: 25px;
  color: #00e6ac;
}
.seniornavbarbuttons:hover span {
  padding-right: 25px;
  color: white;
}
.navbarbuttons:hover span:after {
  opacity: 1;
  right: 0;
}
.seniornavbarbuttons:hover span:after {
  opacity: 1;
  right: 0;
}
.contentgrid{
  width: 100%;
  height: 200px;
  display: inline-block;
  position: sticky;
  top: 10px;
  margin: 10px;
  border-style: solid;
  border-color:black;
  border-radius: 10px;
  background-color:#00e6ac;
  background-size: 100%;
  color: black;
  z-index: 2;
}
/* Start of Grid Content Stuff*/

.landingimage{
  width: 50%;
  display: inline-block;
  margin-bottom: 10px;
  border-style: hidden;
  border-radius: 10px;
}

.landingimagegrid{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  border-style: hidden;
  border-radius: 0px;
}
#myList li{
  list-style-type: none;
  display: inline-block;
}

#loadMore{
  cursor: pointer;
}
#showLess{
  cursor: pointer;
}
.contentlandinggrid{
  width: inherit;
  height: inherit;
  align-self: center;
  margin-top: 10px;
  display: inline-table;
  position: relative;
  border-radius: 10px;
  transform: rotateY(180deg);
}
.contentlandinggriddescription{
  margin: 10px;
  font-size: 15px;
}
.landingimagegrid:hover .flipper,
.landingimagegrid.hover .flipper{
    background-color: rgba(1, 1, 1, 0.5);
    background-blend-mode: darken;
    color: white;
    z-index: 1;
    transform-style: preserve-3d;
    transition: 0.6s;
    transform: rotateY(180deg);
}
.flipper{
transition: 0.6s;
transform-style: preserve-3d;
position: inherit;
height: inherit;
width: inherit;
background-size: 100%;
color: transparent;
background-image: url("../images/productsserviceslanding.png");
box-shadow: 5px 5px #e8eaed;
}

.imglinkgrid{
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  display: inline-block;
}
/*END OF CONTENT GRID STUFF */
.contentstuffs{
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 30px;
  border: white;
  border-style: double;
  border-radius: 10px;
  border-width: 10px;
  width: 50%;
}
