body{
  height: 100%;
  width: 100%;
}
.nav-link{
  font-size:0.8rem;
  color: black;
}
main{
  display: flex;
  width: 100% !important;
  height: 100vh !important;
}
.nav-link:hover{
  color: black;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: #ff73d4;
  background-color: #fcd7f1;
  transition-duration: 0.3s;
}
.social :hover{
  color: #ff73d4;
  transition-duration: 0.3s;
}
#home{
  background: url('coffeeshop4.png');
  background-size: cover;
}
#about{
background: url('bg.png');
background-size: cover;
}

#contact{
  background: url('collage.jpeg');
  background-repeat: repeat;
  background-size: contain;
}
