<div id="{{ project.pagename }}container"class="galleryitem">
  <img src="{{ project.image }}" style="width:100%"></img>
  <div id="{{ project.pagename }}details" class="galleryitemdetails">
    <center>
      <div class = "galleryitemdetail_inner">
        <p><span class="galleryitemname">{{ project.name }}</span></p>
        <p style="border-radius: 0.5rem; background-color: rgba(67, 67, 67, 0.7); color: white; padding:1vh;">{{ project.description }}
          <br>
          <a class= "galleryitemlink" href="{{ site.url }}/projects/{{ project.pagename }}"><button>Visit Project</button></a>
        </p>
        Tags: {{ project.tags }}
      </div>
  </div>
</div>

  <script>
    $(".galleryitemdetails").hide();

    $("#{{ project.pagename }}container").hover(
      function(){$("#{{ project.pagename }}details").show();},
      function(){$("#{{ project.pagename }}details").hide();});

  </script>
