@import url("palilafonts/stylesheet.css");
#navbar ul li a{
text-decoration: none;
padding-top: 20px;
padding-bottom:20px;
padding-left:80px;
padding-right:80px;
color:#ffffff;
background-color:#000000;
}

#navbar ul #link1 a{
background-color: black;
color: #cc6600; 
}
#navbar ul #link1  a:hover{
background-color: #ffbb33; 
}
#navbar ul #link2 a{
background-color: black; 
color: #cc6600;
}
#navbar ul #link2 a:hover{
 background-color: #ffff4d; 
}
#navbar ul #link3 a{
background-color: black; 
color: #cc6600;
}
#navbar ul #link3 a:hover{
background-color: #ffd24d; 
}

h1{font-family:"quicksandbold";
color:#cc3300;
font-size:400%;
text-decoration: none;
}

body {
    background-color: #ffffcc;
	font-family:"quicksandregular";
} 

p.solid {
padding-top:30px;
background-color: #ffff33;
border-style: solid;
font-size:200%;
width:1000px}

p.dotted {
background-color: black;
border-style: dotted;
width:1000px}
