@import url(css/fonts/CaviarDreams/stylesheet.css);
@import url(css/fonts/uppereastside/stylesheet.css);
@import url(css/icons/foundation-icons.css);
body{
  background-image: url("images/background.gif");
  background-position: top center;
  background-size:cover;
  background-color: black;
  background-attachment: fixed;
  background-repeat: repeat-y;
color: white;
font-family: 'caviar_dreamsregular';
padding-left:20px;
padding-right:20px;
font-size: 15px;
height: 100%;
width: 100%;
}
a{
  color: green;
}
  html {
    position: relative;
    min-height: 100%;
    width: 100%;
}
hr{
  color: white;
  border-style: dashed;
}
.clicktoview{
  font-style: italic;
  font-size: 12px;
  margin-bottom: 25px;
  margin-top: 10px;
}
.date{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: -10px;
  color: white;
}
.date span{
  border-style: solid;
  border-width: thin;
  border-color: green;
  padding: 5px;
}

html, body {
  height: 100%;
  margin: 0;
}
h1{
  font-family:'uppereastsideregular';
  font-size: 70px;
  display:inline-block;
  margin-bottom: 0px;
  margin-top: 10px;
  color: black;
  position: relative;
}
h2{
  font-family:'uppereastsideregular';
  font-size: 50px;
  display:inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
h3{
  font-family:'uppereastsideregular';
  font-size: 25px;
  display:inline;
}
h4{
  font-family:'uppereastsideregular';
  font-size: 70px;
  display:inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
padding: 10px;
}
h5{
  font-family:'uppereastsideregular';
  font-size: 30px;
  display:inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
padding: 10px;
text-transform: uppercase;
}
.webtitle{
  font-family:'uppereastsideregular';
  font-size: 40px;
  display: inline-block;
  margin:-50px;
    padding: 2px 12px;
    margin: 4px 2px;
    position: relative;
}


.seniornavbar{
  margin-bottom: 0px;
  margin-top: 10px;
  width: 90%;
  display: block;
  background-color: rgba(0,0,0,0.6);
  display: block;
  border-color: white;
  border-width: thin;
  border-radius: 10px;
  border-style: hidden;
  position: relative;
}

.seniornavbarbuttons {
  background-color: transparent;
    border: none;
    color: white;
    font-family: 'caviar_dreamsregular';
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
}
.seniornavbarbuttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.icon{
  font-family: "foundation-icons";
}

.seniornavbarbuttons span:after {
  content:'\f214';
  color: green;
  font-size: 20px;
  font-family: "foundation-icons";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.seniornavbarbuttons:hover span {
  padding-right: 25px;
  color: green;
}

.seniornavbarbuttons:hover span:after {
  opacity: 1;
  right: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 10px;
    font-size: 14px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;

}
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color:green; border-color: green; border-style: solid; border-width: thin;}
.learnmore {
  background-color: green;
    border: none;
    color: white;
    font-family: 'caviar_dreamsregular';
    margin: 10px;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    top: 15%;
    bottom: 50%;
}
.learnmore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.learnmore span:after {
  content:'\f214';
  color: white;
  font-size: 20px;
  font-family: "foundation-icons";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.learnmore:hover span {
  padding-right: 25px;
  color: white;
}

.learnmore:hover span:after {
  opacity: 1;
  right: 0;
}
.contentgrid{
  width: 100%;
  height: 200px;
  display: inline-block;
  position: sticky;
  top: 10px;
  margin: 10px;
  border-style: solid;
  border-color:black;
  border-radius: 10px;
  background-color:#00e6ac;
  background-size: 100%;
  color: black;
  z-index: 2;
}
/* Start of Grid Content Stuff*/

.landingimage{
  width: 50%;
  display: inline-block;
  margin-bottom: 10px;
  border-style: hidden;
  border-radius: 10px;
}

.landingimagegrid{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  border-style: hidden;
  border-radius: 0px;
}
#myList li{
  list-style-type: none;
  display: inline-block;
}

#loadMore{
  cursor: pointer;
}
#showLess{
  cursor: pointer;
}
.contentlandinggrid{
  width: inherit;
  height: inherit;
  align-self: center;
  margin-top: 10px;
  display: inline-table;
  position: relative;
  border-radius: 10px;
  transform: rotateY(180deg);
}
.contentlandinggriddescription{
  margin: 10px;
  font-size: 15px;
}
.landingimagegrid:hover .flipper,
.landingimagegrid.hover .flipper{
    background-color: rgba(1, 1, 1, 0.5);
    background-blend-mode: darken;
    color: white;
    z-index: 1;
    transform-style: preserve-3d;
    transition: 0.6s;
    transform: rotateY(180deg);
}
.flipper{
transition: 0.6s;
transform-style: preserve-3d;
position: inherit;
height: inherit;
width: inherit;
background-size: 100%;
color: transparent;
background-image: url("../images/productsserviceslanding.png");
box-shadow: 5px 5px #e8eaed;
}

.imglinkgrid{
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  display: inline-block;
}
/*END OF CONTENT GRID STUFF */
.seniorcontentstuffs{
  width: 60%;
  margin: 10px;
  padding: 10px;
  position: static;
background-color: rgba(0,0,0,0.6);
  top:15%;
  right: 25%;
  left: 25%;
  border-radius: 10px;
}

.footer {
margin-top: 10px;
margin-bottom: 10px;
margin-left: -20px;
margin-right: -20px;
/*background-color: rgba(0,0,0,0.5);*/
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(100px, auto);
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: dotted;
  border-width: thin;
  background-color: rgba(255, 255, 255, 0.2);
}

.profile{
  margin:5%;
  grid-column: 1 / 2;
  grid-row: 1/3;
  border-radius: 50%;
  background-image: url("images/profilelowpoly2.png");
  background-position: center;
  background-size: cover;
  border-style: dotted;
  border-width: thin;
}
.profile:hover{
  background-image: url("images/profile.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.description{
  grid-column:2 / 4;
  grid-row: 1/3;
  margin-top:25%;
  font-size: 15px;
}
.options{
grid-column: 1/4;
grid-row: 3/4;
}
.resumesection{
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: green;
  border-style: none;
  padding: 10px;
  margin-top: 5%;
  font-size: 10px;
  color: white;
  font-family: 'caviar_dreamsregular';
}
.resumesection:hover{
  background-color: black;
}

.moreinfo {
  background-color: transparent;
    border: none;
    border-bottom: solid;
    border-color: green;
    color: white;
    font-family: 'caviar_dreamsregular';
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    top: 15%;
    bottom: 50%;
}
.moreinfo span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.moreinfo span:after {
  content: '\0025bc';
  color: white;
  font-size: 15px;
  font-family: "foundation-icons";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}


.moreinfo:hover span {
  padding-right: 20px;
  color: white;
}

.moreinfo:hover span:after {
  opacity: 1;
  right: 0;
}
.works{
  margin-top: 1px;
  float: left;
  list-style-type: none;
}
.wdesc{
  font-size: 12px;
  margin: 3px;
}
.cdesc{
  font-size: 12px;
  margin: 3px;
}
.courses{
  margin-top: 1px;
  list-style-type: none;
}
.edesc{
  font-size: 12px;
  margin: 3px;
}
.extracurricular{
  margin-top: 1px;
  list-style-type: none;
}
#reflink{
  color: white;
}
#reflink:hover{
  color: green;
}
.skills{
  margin-top: 1px;
  list-style-type: square;
}
.lessspace{
  margin-top: -5px;
}
#aboutmenarrative{
  padding:20px;

}
.contentbelow {
  background-color: transparent;
    border: none;
    color: white;
    margin: -10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;

}
.contentbelow:hover{
  color: green;
}
.contentbelow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.contentbelow span:after {
  content: '\25bc';
  color: white;
  font-size: 18px;
  font-family: "foundation-icons";
  position: absolute;
  opacity: 0;
  top: 0;
  bottom:0;
top: -5px;
  transition: 0.5s;
  margin-top: -30px;
}


.contentbelow:hover span {
  padding-bottom: 10px;
  color: white;
}

.contentbelow:hover span:after {
  opacity: 1;
  top: 0;
}
#dblclicks{
margin-top: -15px;
margin-bottom: 0px;
}
#lessmargin{
  margin-top: -20px;
}
#less-ishmargin{
  margin-top: 5px;
  margin-bottom: 5px;
}
#removemargin{
  margin-top:0px;
  margin-bottom: 0px;
}
.borderedimage{
  border-color: white;
  border-style: solid;
  border-width: medium;
}
#smallertextcontent{
  font-size: 12px;
}
